.progressBar
  height: 5px
  transition: all 0.2s
  border-radius: 0.2rem
.danger
  background-color: #f44336
.info
  background-color: #00bcd4

.success
  background-color: #6ec071

.progressBarArea
  background-color: #fff
