<div class="strengthPasswordArea" *ngIf = "strength > 0">
    <div class="progressBarArea">
        <div class="progressBar" [style.width]="strength * 20 + '%'" [ngClass]="{'danger': strength < 3 , 'info': strength === 3 || strength === 4, 'success': strength === 5 }"></div>
        <span *ngIf="strength < 3">
          Weak
        </span>
        <span *ngIf="strength === 3 || strength === 4">
          Normal
        </span>
            <span *ngIf="strength === 5">
          Strong
        </span>
    </div>
</div>
