<form [formGroup]="changePassword">
    <div class="row">
        <div class="col px-0">
            <mat-form-field class="full-with py-2">
                <input type="text" matInput class="form-control" formControlName="password"
                       placeholder="password">
            </mat-form-field>
            <mat-form-field class="full-with py-2">
                <input type="text" matInput class="form-control" formControlName="newPassword"
                       placeholder="new password">

                <mat-error *ngIf="getControl.newPassword.errors && (getControl.newPassword.dirty || getControl.newPassword.touched)">
                    <div *ngIf="getControl.newPassword.errors.invalidPassword === 'required'">
                        required
                    </div>
                    <div *ngIf="getControl.newPassword.errors.invalidPassword === 'digit'">
                        digit
                    </div>
                    <div *ngIf="getControl.newPassword.errors.invalidPassword === 'uppercase'">
                        uppercase
                    </div>
                    <div *ngIf="getControl.newPassword.errors.invalidPassword === 'numeric'">
                        nyumber
                    </div>
                </mat-error>
            </mat-form-field>
            <app-strength-password [value] = "changePassword.controls.newPassword.value"></app-strength-password>
            <mat-form-field class="full-with py-2">

                <input type="text" matInput class="form-control" formControlName="confirm_password"
                       placeholder="{confirm password">

                <mat-error class="text-danger" *ngIf="getControl.confirm_password.invalid && (getControl.confirm_password.dirty || getControl.confirm_password.touched)">
                    <div *ngIf="getControl.confirm_password.errors.required">
                        require
                    </div>

                    <div *ngIf="getControl.confirm_password.errors.matching">
                        asda
                    </div>
                </mat-error>
            </mat-form-field>
        </div>

    </div>

    <div>
        <button mat-raised-button class="btn--profile text-info bg-transparent" [disabled]="!changePassword.valid" (click)="changePasswordHandler()">save</button>
    </div>
</form>
